
<p>メールアドレス: <%= @user.email %></p>
<div class="btn-group" role="group" aria-label="...">
<button type="button" class="btn btn-default"><%= link_to "新規投稿ページ", new_picture_path %></button>
</div>
